/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2019, 10:44:21 PM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Nothing+You+Could+Do|Open+Sans:400,600,700");
@import url("https://use.typekit.net/cav8sep.css");
@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&family=Merriweather:ital,wght@0,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oregano&display=swap");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fondamento:ital@0;1&display=swap");
.html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

.menu-icon > .line {
  background-color: #292929;
  height: 2px;
  display: block;
  width: 75px;
}

@media screen and (max-width: 700px) {
  .menu-icon > .line {
    width: 60px;
  }
}

@media screen and (max-width: 600px) {
  .menu-icon > .line {
    width: 45px;
  }
}

.menu-icon > .line + .line {
  margin-top: 8px;
}

@font-face {
  font-family: Zapfino;
  /*src: url("../fonts/Zapfino.woff");*/
  /*src: url("../fonts/LinotypeZapfino.ttf");*/
  src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-One.otf");
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Two.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Three.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Four.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Alternate.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Ligatures.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Ornaments.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-SmallCaps.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLTPro.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLT-Alternate.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLT-One.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLTPro.otf");*/
}

@font-face {
  font-family: Papyrus;
  font-style: normal;
  font-weight: normal;
  /*src: local('Papyrus'), url('../fonts/PAPYRUS.TTF') format('ttf');*/
  src: url("../fonts/PAPYRUS.TTF");
}

/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"), url("../fonts/Acumin-RPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Italic"), url("../fonts/Acumin-ItPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold"), url("../fonts/Acumin-BdPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold Italic"), url("../fonts/Acumin-BdItPro.woff") format("woff");
}

/*
font-family: 'Major Mono Display', monospace;
font-family: 'Open Sans', sans-serif;
*/
.logo {
  opacity: 1;
  font-weight: bold;
}

.logo__title {
  left: 25%;
  font-family: "Major Mono Display", monospace;
  color: #fff;
  font-weight: 800;
  font-weight: bold;
  font-size: 77px;
  word-spacing: 10px;
  font-size: clamp(30, 48, 77);
}

@media screen and (min-width: 1300px) {
  .logo__title {
    color: #fff;
  }
}

@media screen and (max-width: 400px) {
  .logo__title {
    font-size: 48px;
  }
}

.logo__sub-title {
  left: 50%;
  top: 35%;
  color: #fff;
  font-weight: 450;
  font-family: "Nothing You Could Do", cursive;
  letter-spacing: 6px;
}

@media screen and (min-width: 1300px) {
  .logo__sub-title {
    color: #fff;
    font-weight: 800;
  }
}

.small-logo {
  position: relative;
  top: -15px;
  height: 50px;
  background-color: #9da5b2;
  color: white;
}

.small-logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 32px;
  word-spacing: 10px;
}

@media screen and (max-width: 400px) {
  .small-logo__title {
    font-size: 20px;
  }
}

.small-logo__sub-title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-size: 20px;
}

.header-logo {
  color: black;
  height: 45px;
  padding-left: 15px;
  position: relative;
  left: -8px;
  margin-right: 0;
  background-color: #ccc;
  opacity: .8;
  border-radius: 5px;
  width: 330px;
}

@media screen and (max-width: 750px) {
  .header-logo {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.header-logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 32px;
  word-spacing: 10px;
}

@media screen and (max-width: 750px) {
  .header-logo__title {
    font-size: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
  .header-logo__title {
    font-size: 16px;
  }
}

.header-logo__sub-title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .header-logo__sub-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .header-logo__sub-title {
    font-size: 14px;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
  }
  80% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
  }
  80% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 1;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: StranslateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.logo {
  opacity: 1;
  font-weight: bold;
}

.logo__title {
  left: 25%;
  font-family: "Major Mono Display", monospace;
  color: #fff;
  font-weight: 800;
  font-weight: bold;
  font-size: 77px;
  word-spacing: 10px;
  font-size: clamp(30, 48, 77);
}

@media screen and (min-width: 1300px) {
  .logo__title {
    color: #fff;
  }
}

@media screen and (max-width: 400px) {
  .logo__title {
    font-size: 48px;
  }
}

.logo__sub-title {
  left: 50%;
  top: 35%;
  color: #fff;
  font-weight: 450;
  font-family: "Nothing You Could Do", cursive;
  letter-spacing: 6px;
}

@media screen and (min-width: 1300px) {
  .logo__sub-title {
    color: #fff;
    font-weight: 800;
  }
}

.small-logo {
  position: relative;
  top: -15px;
  height: 50px;
  background-color: #9da5b2;
  color: white;
}

.small-logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 32px;
  word-spacing: 10px;
}

@media screen and (max-width: 400px) {
  .small-logo__title {
    font-size: 20px;
  }
}

.small-logo__sub-title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-size: 20px;
}

.header-logo {
  color: black;
  height: 45px;
  padding-left: 15px;
  position: relative;
  left: -8px;
  margin-right: 0;
  background-color: #ccc;
  opacity: .8;
  border-radius: 5px;
  width: 330px;
}

@media screen and (max-width: 750px) {
  .header-logo {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.header-logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 32px;
  word-spacing: 10px;
}

@media screen and (max-width: 750px) {
  .header-logo__title {
    font-size: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
  .header-logo__title {
    font-size: 16px;
  }
}

.header-logo__sub-title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .header-logo__sub-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .header-logo__sub-title {
    font-size: 14px;
  }
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:31:28 AM
    Author     : Norm
*/
#footer1 {
  width: 100%;
  max-width: 4000px;
  min-width: 250px;
  height: 159px;
  margin: 0 auto;
  justify-content: space-evenly;
  background-color: #63899166;
  position: relative;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#footer1 .magic3 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  top: 0px;
  justify-self: center;
  height: 39px;
  text-align: center;
  font: Italic 28px/39px Fondamento;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 30px;
}

@media screen and (max-width: 500px) {
  #footer1 .magic3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 350px) {
  #footer1 .magic3 {
    font-size: 18px;
  }
}

#footer1 .magic3 .trademark3 {
  font-family: "Anton", sans-serif;
  font-size: 15px;
  font: normal normal normal 10px/14px Anton;
  letter-spacing: 0px;
  color: #020202;
  opacity: 1;
}

#footer1 .footer-block {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  #footer1 .footer-block {
    font-size: 22px;
    flex-direction: column;
    align-items: center;
  }
}

#footer1 .footer-block .copyright {
  top: 117px;
  right: 60px;
  height: 15px;
  text-align: left;
  font: Bold 12px/15px Inria Sans;
  letter-spacing: 0px;
  color: #030303;
  text-transform: capitalize;
  opacity: 1;
}

#footer1 .footer-block .contact-us {
  top: 106px;
  left: 83px;
  height: 15px;
  text-align: left;
  font: Bold 12px/15px Inria Sans;
  letter-spacing: 0px;
  color: #030303;
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
  #footer1 .footer-block .contact-us {
    margin-bottom: 10px;
  }
}

#footer1 .footer-block .small-logo {
  margin: 0 auto;
  margin-right: 0;
  margin-left: 0;
  width: auto;
}

#footer1 .footer-block .foot__text {
  position: relative;
  height: 30px;
}

#footer1 .footer-block .foot__text a {
  text-decoration: none;
  color: white;
}

#footer1 .url-text {
  top: 92px;
  top: 0;
  height: 17px;
  text-align: center;
}

#footer1 .url-text a {
  font: Bold 14px/17px Inria Sans;
  letter-spacing: 0px;
  color: #030303;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:27:39 AM
    Author     : Norm
*/
.header {
  outline: 3px solid green;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: grid;
  grid-template-areas: "banner menu-wide";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  z-index: 10;
  align-items: center;
}

.header * {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .header {
    grid-template-areas: "banner menu-narrow ";
    grid-template-columns: 3fr 1fr;
  }
}

.header .nav {
  position: absolute;
  top: 0;
  right: 0;
  top: 0;
  left: 0px;
  width: 70%;
  height: 17px;
  top: 0;
  height: 17px;
  transform: translateX(40%);
  text-align: left;
  font: Bold 14px/17px Inria Sans;
  font-family: "Inria Sans";
  letter-spacing: 0px;
  color: #26454B;
  text-transform: uppercase;
  opacity: 1;
}

.header .nav .nav__wide {
  width: 100%;
  position: relative;
  grid-area: menu-wide;
  text-align: left;
  font: Bold 14px/17px Inria Sans;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0px;
  color: red;
  text-transform: uppercase;
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .header .nav .nav__wide {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .header .nav .nav__wide {
    display: none;
  }
}

.header .nav .nav__wide a {
  text-decoration: none;
  color: inherit;
}

.header .nav .nav__narrow {
  position: relative;
  right: -5px;
  height: 50px;
  grid-area: menu-narrow;
  display: none;
}

@media screen and (max-width: 700px) {
  .header .nav .nav__narrow {
    display: flex;
  }
}

.header .nav .nav__wide {
  z-index: 10;
}

.header .nav .nav__wide ul {
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  padding: 0;
  padding-top: 17px;
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  font-size: 16px;
  color: black;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  font-weight: bold;
  height: 50px;
  /*.dropdown-content a:hover {background-color: #f1f1f1}*/
}

.header .nav .nav__wide ul li a,
.header .nav .nav__wide ul .dropbtn {
  display: inline-block;
  color: #0a0a09;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header .nav .nav__wide ul li a:hover,
.header .nav .nav__wide ul .dropdown:hover .dropbtn {
  /*background-color: red;*/
  text-decoration: underline;
}

.header .nav .nav__wide ul li.dropdown {
  display: inline-block;
}

.header .nav .nav__wide ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.header .nav .nav__wide ul .dropdown-content a {
  color: #0a0a09;
  /*padding: 12px 16px;*/
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header .nav .nav__wide ul .dropdown-content a:hover {
  background-color: white;
  /*text-decoration: underline;*/
}

.header .nav .nav__wide ul .dropdown:hover .dropdown-content {
  display: block;
}

.header .header-index .nav-index .nav-index__narrow, .header-index .nav-index .header .nav-index__narrow {
  z-index: 10;
  padding-top: 5px;
  flex-direction: column;
}

.header .header-index .nav-index .nav-index__narrow ul, .header-index .nav-index .header .nav-index__narrow ul {
  height: 45px;
  display: block;
  padding: 0;
  margin: 0;
  color: #0a0a09;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  /*.dropdown-content a:hover {background-color: #f1f1f1}*/
}

.header .header-index .nav-index .nav-index__narrow ul .hamburger, .header-index .nav-index .header .nav-index__narrow ul .hamburger {
  display: block;
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

.header .header-index .nav-index .nav-index__narrow ul li a, .header-index .nav-index .header .nav-index__narrow ul li a,
.header .header-index .nav-index .nav-index__narrow ul .dropbtn,
.header-index .nav-index .header .nav-index__narrow ul .dropbtn {
  display: inline-block;
  color: #0a0a09;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

.header .header-index .nav-index .nav-index__narrow ul li a:hover, .header-index .nav-index .header .nav-index__narrow ul li a:hover,
.header .header-index .nav-index .nav-index__narrow ul .dropdown:hover .dropbtn,
.header-index .nav-index .header .nav-index__narrow ul .dropdown:hover .dropbtn {
  /*background-color: red;*/
  text-decoration: underline;
}

.header .header-index .nav-index .nav-index__narrow ul li.dropdown, .header-index .nav-index .header .nav-index__narrow ul li.dropdown {
  display: inline-block;
  width: 100px;
}

.header .header-index .nav-index .nav-index__narrow ul .dropdown-content, .header-index .nav-index .header .nav-index__narrow ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-size: 16px;
}

.header .header-index .nav-index .nav-index__narrow ul .dropdown-content a, .header-index .nav-index .header .nav-index__narrow ul .dropdown-content a {
  color: #0a0a09;
  /*padding: 12px 16px;*/
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 10;
  font-size: 16px;
}

.header .header-index .nav-index .nav-index__narrow ul .dropdown-content a:hover, .header-index .nav-index .header .nav-index__narrow ul .dropdown-content a:hover {
  background-color: white;
  /*text-decoration: underline;*/
}

.header .header-index .nav-index .nav-index__narrow ul .dropdown:hover .dropdown-content, .header-index .nav-index .header .nav-index__narrow ul .dropdown:hover .dropdown-content {
  display: block;
}

.magic {
  position: relative;
  color: white;
  margin: 0 auto;
  padding-top: 25px;
}

.magic .magic__put {
  background-color: #638991;
}

.magic a.magic__contact {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
  animation: moveInBottom .5s ease-out 1.5s;
  animation-fill-mode: backwards;
}

.magic1 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font: Italic 48px/66px Fondamento;
  font-size: 52px;
  padding-top: 25px;
  position: relative;
  color: white;
  text-align: center;
  font-size: max( max(calc(16px), calc(2.5vw)), min( calc(2.5vw), calc(50px) ) );
  line-height: 1.5;
  text-align: center;
  font: Italic 28px/39px Fondamento;
  letter-spacing: 0px;
  color: #fafdfd;
  opacity: 1;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:27:39 AM
    Author     : Norm
*/
.header-index {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: -1px;
  left: 50%;
  padding-right: 15px;
  z-index: 10;
  align-items: center;
}

.header-index * {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .header-index {
    grid-template-areas: "banner menu-narrow ";
    grid-template-columns: 3fr 1fr;
  }
}

.header-index .nav-index .nav-index__wide {
  position: absolute;
  padding-top: 21px;
  left: -50%;
  padding-right: 31px;
  top: 21px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 400px) {
  .header-index .nav-index .nav-index__wide {
    display: none;
  }
}

.header-index .nav-index .nav-index__wide a {
  text-decoration: none;
  color: inherit;
  width: 30%;
  text-align: left;
  font: Bold 14px/17px Inria Sans;
  letter-spacing: 0px;
  color: #f9f9fc;
  text-shadow: 0px 6px 8px #000000a8;
  text-transform: uppercase;
  opacity: 1;
  padding-right: 12.5px;
}

.header-index .nav-index .nav-index__narrow {
  background-color: rgba(246, 248, 249, 0);
  height: 50px;
  width: 70px;
  grid-area: menu-narrow;
  display: none;
  padding-left: 25vw;
}

@media screen and (max-width: 400px) {
  .header-index .nav-index .nav-index__narrow {
    display: flex;
  }
}

.header-index .header .nav .nav__wide, .header .nav .header-index .nav__wide {
  z-index: 10;
}

.header-index .header .nav .nav__wide ul, .header .nav .header-index .nav__wide ul {
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  padding: 0;
  padding-top: 17px;
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background-color: rgba(246, 248, 249, 0);
  height: 50px;
  /*.dropdown-content a:hover {background-color: #f1f1f1}*/
}

.header-index .header .nav .nav__wide ul li a, .header .nav .header-index .nav__wide ul li a,
.header-index .header .nav .nav__wide ul .dropbtn,
.header .nav .header-index .nav__wide ul .dropbtn {
  display: inline-block;
  color: #0a0a09;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-index .header .nav .nav__wide ul li a:hover, .header .nav .header-index .nav__wide ul li a:hover,
.header-index .header .nav .nav__wide ul .dropdown:hover .dropbtn,
.header .nav .header-index .nav__wide ul .dropdown:hover .dropbtn {
  /*background-color: red;*/
  text-decoration: underline;
}

.header-index .header .nav .nav__wide ul li.dropdown, .header .nav .header-index .nav__wide ul li.dropdown {
  display: inline-block;
}

.header-index .header .nav .nav__wide ul .dropdown-content, .header .nav .header-index .nav__wide ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.header-index .header .nav .nav__wide ul .dropdown-content a, .header .nav .header-index .nav__wide ul .dropdown-content a {
  color: #0a0a09;
  /*padding: 12px 16px;*/
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header-index .header .nav .nav__wide ul .dropdown-content a:hover, .header .nav .header-index .nav__wide ul .dropdown-content a:hover {
  background-color: white;
  /*text-decoration: underline;*/
}

.header-index .header .nav .nav__wide ul .dropdown:hover .dropdown-content, .header .nav .header-index .nav__wide ul .dropdown:hover .dropdown-content {
  display: block;
}

.header-index .nav-index .nav-index__narrow {
  z-index: 10;
  padding-top: 5px;
  flex-direction: column;
}

.header-index .nav-index .nav-index__narrow ul {
  height: 45px;
  display: block;
  padding: 0;
  margin: 0;
  color: #0a0a09;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  /*.dropdown-content a:hover {background-color: #f1f1f1}*/
}

.header-index .nav-index .nav-index__narrow ul .hamburger {
  display: block;
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

.header-index .nav-index .nav-index__narrow ul li a,
.header-index .nav-index .nav-index__narrow ul .dropbtn {
  display: inline-block;
  color: #0a0a09;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

.header-index .nav-index .nav-index__narrow ul li a:hover,
.header-index .nav-index .nav-index__narrow ul .dropdown:hover .dropbtn {
  /*background-color: red;*/
  text-decoration: underline;
}

.header-index .nav-index .nav-index__narrow ul li.dropdown {
  display: inline-block;
}

.header-index .nav-index .nav-index__narrow ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-size: 16px;
}

.header-index .nav-index .nav-index__narrow ul .dropdown-content a {
  color: #0a0a09;
  /*padding: 12px 16px;*/
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 10;
  font-size: 16px;
}

.header-index .nav-index .nav-index__narrow ul .dropdown-content a:hover {
  background-color: white;
  /*text-decoration: underline;*/
}

.header-index .nav-index .nav-index__narrow ul .dropdown:hover .dropdown-content {
  display: block;
}

.spacer30 {
  height: 30px;
}

.spacer20 {
  height: 20px;
}

.spacer10 {
  height: 10px;
}

@font-face {
  font-family: "WizardsMagic";
  src: url("../fonts/Wizards Magic.ttf");
}

#ufo-block {
  width: 1%;
  position: fixed;
}

#ufo-block img {
  width: 100%;
  position: fixed;
}

body {
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1280px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background: url("../images/hero_v4a.jpg") no-repeat center bottom;
  background-size: cover;
  position: relative;
}

.container * {
  text-decoration: none;
}

.container .menu {
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.container .menu a {
  color: #030303;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font: Bold 14px/17px Inria Sans;
  letter-spacing: 0px;
  color: #F9F9FC;
  text-shadow: 0px 6px 8px #000000A8;
  text-transform: uppercase;
  opacity: 1;
}

@media screen and (max-width: 420px) {
  .container .menu {
    display: none;
  }
}

.container .menu ul {
  list-style: none;
  display: flex;
}

.container .menu ul li {
  padding: 20px 10px 10px;
}

.container .menu-mobile {
  display: none;
  position: absolute;
  top: 5px;
  left: 330px;
}

@media screen and (max-width: 360px) {
  .container .menu-mobile {
    left: 300px;
  }
}

@media screen and (max-width: 335px) {
  .container .menu-mobile {
    left: 280px;
  }
}

@media screen and (max-width: 315px) {
  .container .menu-mobile {
    left: 260px;
  }
}

.container .menu-mobile .hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

@media screen and (max-width: 420px) {
  .container .menu-mobile {
    display: block;
  }
}

.container .logo {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: white;
  position: absolute;
  top: 69px;
  left: 75px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  .container .logo {
    left: 25px;
  }
}

.container .logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 77px;
  word-spacing: 10px;
  text-align: left;
  font: Regular 77px/92px Major Mono Display;
  letter-spacing: -7.7px;
  color: #fcf9f9;
  text-shadow: 0px 8px 8px #00000040;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .container .logo__title {
    font-size: 17vw;
  }
}

.container .logo__sub-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 14px;
  font: Regular 18px/22px Inria Sans;
  letter-spacing: 18px;
  color: #fcf9f9;
  text-shadow: 0px 6px 8px #00000052;
  text-transform: uppercase;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .container .logo__sub-title {
    font-size: 4vw;
    letter-spacing: 10px;
    margin: 0 auto;
    padding-left: 30px;
  }
}

.container .magic {
  position: absolute;
  left: 38%;
  top: 83.5%;
  justify-content: flex-end;
  text-align: left;
  font: Italic 48px/66px Fondamento;
  letter-spacing: 0px;
  color: #fdfafa;
  text-shadow: 0px 6px 4px #00000026;
  opacity: 1;
  margin-left: 20px;
}

.container .magic .trademark {
  position: absolute;
  top: -15px;
  right: 0px;
  text-align: left;
  font: Regular 12px/18px Anton;
  font-family: "Anton", sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  color: #fcf9f9;
  text-shadow: 0px 3px 4px #00000073;
  opacity: 1;
}

.container .magic1 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 67px;
  display: flex;
  justify-content: flex-end;
  text-align: left;
  font: Italic 48px/66px Fondamento;
  letter-spacing: 0px;
  color: #fdfafa;
  text-shadow: 0px 6px 4px #00000026;
  opacity: 1;
  padding-right: 80px;
}

@media screen and (max-width: 800px) {
  .container .magic1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {
  .container .magic1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px) {
  .container .magic1 {
    bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  .container .magic1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 425px) {
  .container .magic1 {
    display: none;
  }
}

.container .magic1 .trademark1 {
  position: absolute;
  top: -18px;
  right: 75px;
  text-align: left;
  font: Regular 12px/18px Anton;
  font-family: "Anton", sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  color: #fcf9f9;
  text-shadow: 0px 3px 4px #00000073;
  opacity: 1;
}

.container .serving {
  color: lightGray;
  position: absolute;
  bottom: 23px;
  left: 83px;
  font: Bold 14px/17px Inria Sans;
  color: #f9f9fc;
  text-shadow: 0px 6px 8px #000000a8;
  text-transform: uppercase;
  opacity: 1;
}

@media screen and (max-width: 550px) {
  .container .serving {
    display: none;
  }
}

main {
  display: none;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  font-family: "Dancing Script", cursive;
  font-size: 64px;
  font-weight: bold;
  position: relative;
  max-width: 1280px;
  height: 800px;
  height: 100vh;
  width: 100vw;
}

main .php-output {
  color: red;
  font-family: Arial;
  font-size: 22px;
}

main .text .large-text {
  font-size: 62px;
}

main .text .under-construction {
  font-size: 16px;
}

main .small-text {
  font-size: 28px;
  letter-spacing: 2px;
  word-spacing: -10px;
  font-weight: bold;
}

main img {
  height: 100vh;
  width: auto;
}

main .logo {
  font-family: Arial, Helvetica, sans-serif;
  width: 28%;
  text-align: center;
  color: white;
  position: absolute;
  top: 69px;
  left: 83px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  main .logo {
    left: 30px;
  }
}

main .logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 77px;
  word-spacing: 10px;
  text-align: left;
  font: Regular 77px/92px Major Mono Display;
  letter-spacing: -4px;
  color: #fcf9f9;
  text-shadow: 0px 8px 8px #00000040;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  main .logo__title {
    font-size: 17vw;
  }
}

main .logo__sub-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 14px;
  font: Regular 18px/22px Inria Sans;
  letter-spacing: 18px;
  color: #fcf9f9;
  text-shadow: 0px 6px 8px #00000052;
  text-transform: uppercase;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  main .logo__sub-title {
    font-size: 4vw;
    letter-spacing: 10px;
    margin: 0 auto;
    padding-left: 30px;
  }
}

main .magic {
  width: 100%;
  position: absolute;
  top: 50%;
  top: 84vh;
  left: -7.5%;
  display: flex;
  justify-content: flex-end;
  text-align: left;
  font: Italic 48px/66px Fondamento;
  font-size: 52px;
  font-size: 80%;
  letter-spacing: 0px;
  color: #fdfafa;
  text-shadow: 0px 6px 4px #00000026;
  opacity: 1;
  margin-left: 20px;
}

main .magic .trademark {
  position: absolute;
  top: -15px;
  right: 0px;
  text-align: left;
  font: Regular 12px/18px Anton;
  font-family: "Anton", sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  color: #fcf9f9;
  text-shadow: 0px 3px 4px #00000073;
  opacity: 1;
}

main .serving {
  position: absolute;
  top: 95%;
  left: 100px;
  left: 5vw;
  text-align: left;
  font: Bold 14px/17px Inria Sans;
  letter-spacing: 0px;
  color: #f9f9fc;
  text-shadow: 0px 6px 8px #000000a8;
  text-transform: uppercase;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  main .serving {
    left: 4vw;
  }
}

@media screen and (max-width: 400px) {
  main .serving {
    font-size: 3.5vw;
  }
}

img {
  width: 50px;
}
/*# sourceMappingURL=home2.css.map */