/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2019, 10:44:21 PM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Nothing+You+Could+Do|Open+Sans:400,600,700");
@import url("https://use.typekit.net/cav8sep.css");
@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&family=Merriweather:ital,wght@0,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oregano&display=swap");
.html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

.menu-icon > .line {
  background-color: #292929;
  height: 2px;
  display: block;
  width: 75px;
}

@media screen and (max-width: 700px) {
  .menu-icon > .line {
    width: 60px;
  }
}

@media screen and (max-width: 600px) {
  .menu-icon > .line {
    width: 45px;
  }
}

.menu-icon > .line + .line {
  margin-top: 8px;
}

@font-face {
  font-family: Zapfino;
  /*src: url("../fonts/Zapfino.woff");*/
  /*src: url("../fonts/LinotypeZapfino.ttf");*/
  src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-One.otf");
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Two.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Three.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Four.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Alternate.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Ligatures.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-Ornaments.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-SmallCaps.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoExtraLTPro.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLT-Alternate.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLT-One.otf");*/
  /*src: url("../fonts/Zapfino Zip/Unziped/ZapfinoForteLTPro.otf");*/
}

@font-face {
  font-family: Papyrus;
  font-style: normal;
  font-weight: normal;
  /*src: local('Papyrus'), url('../fonts/PAPYRUS.TTF') format('ttf');*/
  src: url("../fonts/PAPYRUS.TTF");
}

/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"), url("../fonts/Acumin-RPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Italic"), url("../fonts/Acumin-ItPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold"), url("../fonts/Acumin-BdPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold Italic"), url("../fonts/Acumin-BdItPro.woff") format("woff");
}

/*
font-family: 'Major Mono Display', monospace;
font-family: 'Open Sans', sans-serif;
*/
.logo {
  opacity: 1;
  font-weight: bold;
}

.logo__title {
  left: 25%;
  font-family: "Major Mono Display", monospace;
  color: #fff;
  font-weight: 800;
  font-weight: bold;
  font-size: 77px;
  word-spacing: 10px;
  font-size: clamp(30, 48, 77);
}

@media screen and (min-width: 1300px) {
  .logo__title {
    color: #fff;
  }
}

@media screen and (max-width: 400px) {
  .logo__title {
    font-size: 48px;
  }
}

.logo__sub-title {
  left: 50%;
  top: 35%;
  color: #fff;
  font-weight: 450;
  font-family: "Nothing You Could Do", cursive;
  letter-spacing: 6px;
}

@media screen and (min-width: 1300px) {
  .logo__sub-title {
    color: #fff;
    font-weight: 800;
  }
}

.small-logo {
  position: relative;
  top: -15px;
  height: 50px;
  background-color: #9da5b2;
  color: white;
}

.small-logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 32px;
  word-spacing: 10px;
}

@media screen and (max-width: 400px) {
  .small-logo__title {
    font-size: 20px;
  }
}

.small-logo__sub-title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-size: 20px;
}

.header-logo {
  color: black;
  height: 45px;
  padding-left: 15px;
  position: relative;
  left: -8px;
  margin-right: 0;
  background-color: #ccc;
  opacity: .8;
  border-radius: 5px;
  width: 330px;
}

@media screen and (max-width: 750px) {
  .header-logo {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.header-logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 32px;
  word-spacing: 10px;
}

@media screen and (max-width: 750px) {
  .header-logo__title {
    font-size: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
  .header-logo__title {
    font-size: 16px;
  }
}

.header-logo__sub-title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .header-logo__sub-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .header-logo__sub-title {
    font-size: 14px;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
  }
  80% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
  }
  80% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 1;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: StranslateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.logo {
  opacity: 1;
  font-weight: bold;
}

.logo__title {
  left: 25%;
  font-family: "Major Mono Display", monospace;
  color: #fff;
  font-weight: 800;
  font-weight: bold;
  font-size: 77px;
  word-spacing: 10px;
  font-size: clamp(30, 48, 77);
}

@media screen and (min-width: 1300px) {
  .logo__title {
    color: #fff;
  }
}

@media screen and (max-width: 400px) {
  .logo__title {
    font-size: 48px;
  }
}

.logo__sub-title {
  left: 50%;
  top: 35%;
  color: #fff;
  font-weight: 450;
  font-family: "Nothing You Could Do", cursive;
  letter-spacing: 6px;
}

@media screen and (min-width: 1300px) {
  .logo__sub-title {
    color: #fff;
    font-weight: 800;
  }
}

.small-logo {
  position: relative;
  top: -15px;
  height: 50px;
  background-color: #9da5b2;
  color: white;
}

.small-logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 32px;
  word-spacing: 10px;
}

@media screen and (max-width: 400px) {
  .small-logo__title {
    font-size: 20px;
  }
}

.small-logo__sub-title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-size: 20px;
}

.header-logo {
  color: black;
  height: 45px;
  padding-left: 15px;
  position: relative;
  left: -8px;
  margin-right: 0;
  background-color: #ccc;
  opacity: .8;
  border-radius: 5px;
  width: 330px;
}

@media screen and (max-width: 750px) {
  .header-logo {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.header-logo__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 32px;
  word-spacing: 10px;
}

@media screen and (max-width: 750px) {
  .header-logo__title {
    font-size: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
  .header-logo__title {
    font-size: 16px;
  }
}

.header-logo__sub-title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .header-logo__sub-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .header-logo__sub-title {
    font-size: 14px;
  }
}

.logo-a {
  text-align: center;
  color: white;
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  position: relative;
  top: -20px;
  left: 15px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #638991;
  opacity: 1;
  width: 286px;
  height: 80px;
  background: #638991 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 8px #02000080;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .logo-a {
    width: 225px;
  }
}

.logo-a__title {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 77px;
  word-spacing: 10px;
  color: #fcf9f9;
  text-align: left;
  --s-font: 30px;
  --m-font: 5vw;
  --l-font: 47px;
  font-size: max( max(calc(var(--s-font)), calc(var(--m-font))), min( calc(var(--m-font)), calc(var(--l-font)) ) );
  letter-spacing: -0.5vw;
  color: #fcf9f9;
  width: 286px;
  font-size: 47px;
  text-align: center;
  letter-spacing: -4.7px;
  color: #fcf9f9;
  height: 47px;
  padding-top: 0;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .logo-a__title {
    font-size: 38px;
  }
}

.logo-a__sub-title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1vw;
  font: Regular 18px/22px Inria Sans;
  font-family: "inrai Sans";
  letter-spacing: 1.5vw;
  color: #fcf9f9;
  text-transform: uppercase;
  opacity: 1;
  text-align: left;
  font: Regular 10px/12px Inria Sans;
  font-family: "Inria Sans", sans-serif;
  letter-spacing: 10px;
  color: #fcf9f9;
  text-shadow: 0px 6px 8px #00000052;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: max( max(calc(12px), calc(1vw)), min( calc(1vw), calc(18px) ) );
  font-family: "Inria Sans", sans-serif;
  text-align: center;
  font-size: 10px;
  top: 5px;
}

@media screen and (max-width: 500px) {
  .logo-a__sub-title {
    letter-spacing: 6px;
    margin: 0 auto;
    margin-top: 5px;
  }
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:31:28 AM
    Author     : Norm
*/
#footer1 {
  width: 100%;
  max-width: 4000px;
  min-width: 250px;
  height: 159px;
  margin: 0 auto;
  justify-content: space-evenly;
  background-color: #63899166;
  position: relative;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#footer1 .magic3 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  top: 0px;
  justify-self: center;
  height: 39px;
  text-align: center;
  font: Italic 28px/39px Fondamento;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 30px;
}

@media screen and (max-width: 500px) {
  #footer1 .magic3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 350px) {
  #footer1 .magic3 {
    font-size: 18px;
  }
}

#footer1 .magic3 .trademark3 {
  font-family: "Anton", sans-serif;
  font-size: 15px;
  font: normal normal normal 10px/14px Anton;
  letter-spacing: 0px;
  color: #020202;
  opacity: 1;
}

#footer1 .footer-block {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  #footer1 .footer-block {
    font-size: 22px;
    flex-direction: column;
    align-items: center;
  }
}

#footer1 .footer-block .copyright {
  top: 117px;
  right: 60px;
  height: 15px;
  text-align: left;
  font: Bold 12px/15px Inria Sans;
  letter-spacing: 0px;
  color: #030303;
  text-transform: capitalize;
  opacity: 1;
}

#footer1 .footer-block .contact-us {
  top: 106px;
  left: 83px;
  height: 15px;
  text-align: left;
  font: Bold 12px/15px Inria Sans;
  letter-spacing: 0px;
  color: #030303;
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
  #footer1 .footer-block .contact-us {
    margin-bottom: 10px;
  }
}

#footer1 .footer-block .small-logo {
  margin: 0 auto;
  margin-right: 0;
  margin-left: 0;
  width: auto;
}

#footer1 .footer-block .foot__text {
  position: relative;
  height: 30px;
}

#footer1 .footer-block .foot__text a {
  text-decoration: none;
  color: white;
}

#footer1 .url-text {
  top: 92px;
  top: 0;
  height: 17px;
  text-align: center;
}

#footer1 .url-text a {
  font: Bold 14px/17px Inria Sans;
  letter-spacing: 0px;
  color: #030303;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:27:39 AM
    Author     : Norm
*/
.header {
  outline: 3px solid green;
  width: 100%;
  max-width: 4300px;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: grid;
  grid-template-areas: "banner menu-wide";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  z-index: 10;
  align-items: center;
}

.header * {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .header {
    grid-template-areas: "banner menu-narrow ";
    grid-template-columns: 3fr 1fr;
  }
}

.header .nav {
  position: absolute;
  top: 0;
  right: 0;
  top: 0;
  left: 0px;
  width: 70%;
  height: 17px;
  top: 0;
  height: 17px;
  transform: translateX(40%);
  text-align: left;
  font: Bold 14px/17px Inria Sans;
  font-family: "Inria Sans";
  letter-spacing: 0px;
  color: #26454B;
  text-transform: uppercase;
  opacity: 1;
}

.header .nav .nav__wide {
  width: 100%;
  position: relative;
  grid-area: menu-wide;
  text-align: left;
  font: Bold 14px/17px Inria Sans;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0px;
  color: red;
  text-transform: uppercase;
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .header .nav .nav__wide {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .header .nav .nav__wide {
    display: none;
  }
}

.header .nav .nav__wide a {
  text-decoration: none;
  color: inherit;
}

.header .nav .nav__narrow {
  position: relative;
  right: -5px;
  height: 50px;
  grid-area: menu-narrow;
  display: none;
}

@media screen and (max-width: 700px) {
  .header .nav .nav__narrow {
    display: flex;
  }
}

.header .nav .nav__wide {
  z-index: 10;
}

.header .nav .nav__wide ul {
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  padding: 0;
  padding-top: 17px;
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  font-size: 16px;
  color: black;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  font-weight: bold;
  height: 50px;
  /*.dropdown-content a:hover {background-color: #f1f1f1}*/
}

.header .nav .nav__wide ul li a,
.header .nav .nav__wide ul .dropbtn {
  display: inline-block;
  color: #0a0a09;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header .nav .nav__wide ul li a:hover,
.header .nav .nav__wide ul .dropdown:hover .dropbtn {
  /*background-color: red;*/
  text-decoration: underline;
}

.header .nav .nav__wide ul li.dropdown {
  display: inline-block;
}

.header .nav .nav__wide ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.header .nav .nav__wide ul .dropdown-content a {
  color: #0a0a09;
  /*padding: 12px 16px;*/
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header .nav .nav__wide ul .dropdown-content a:hover {
  background-color: white;
  /*text-decoration: underline;*/
}

.header .nav .nav__wide ul .dropdown:hover .dropdown-content {
  display: block;
}

.header .header3 .nav3 .nav3__narrow, .header3 .nav3 .header .nav3__narrow {
  z-index: 10;
  padding-top: 5px;
  flex-direction: column;
}

.header .header3 .nav3 .nav3__narrow ul, .header3 .nav3 .header .nav3__narrow ul {
  height: 45px;
  display: block;
  padding: 0;
  margin: 0;
  color: #0a0a09;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  /*.dropdown-content a:hover {background-color: #f1f1f1}*/
}

.header .header3 .nav3 .nav3__narrow ul .hamburger, .header3 .nav3 .header .nav3__narrow ul .hamburger {
  display: block;
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

.header .header3 .nav3 .nav3__narrow ul li a, .header3 .nav3 .header .nav3__narrow ul li a,
.header .header3 .nav3 .nav3__narrow ul .dropbtn,
.header3 .nav3 .header .nav3__narrow ul .dropbtn {
  display: inline-block;
  color: #0a0a09;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

.header .header3 .nav3 .nav3__narrow ul li a:hover, .header3 .nav3 .header .nav3__narrow ul li a:hover,
.header .header3 .nav3 .nav3__narrow ul .dropdown:hover .dropbtn,
.header3 .nav3 .header .nav3__narrow ul .dropdown:hover .dropbtn {
  /*background-color: red;*/
  text-decoration: underline;
}

.header .header3 .nav3 .nav3__narrow ul li.dropdown, .header3 .nav3 .header .nav3__narrow ul li.dropdown {
  display: inline-block;
  width: 100px;
}

.header .header3 .nav3 .nav3__narrow ul .dropdown-content, .header3 .nav3 .header .nav3__narrow ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-size: 16px;
}

.header .header3 .nav3 .nav3__narrow ul .dropdown-content a, .header3 .nav3 .header .nav3__narrow ul .dropdown-content a {
  color: #0a0a09;
  /*padding: 12px 16px;*/
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 10;
  font-size: 16px;
}

.header .header3 .nav3 .nav3__narrow ul .dropdown-content a:hover, .header3 .nav3 .header .nav3__narrow ul .dropdown-content a:hover {
  background-color: white;
  /*text-decoration: underline;*/
}

.header .header3 .nav3 .nav3__narrow ul .dropdown:hover .dropdown-content, .header3 .nav3 .header .nav3__narrow ul .dropdown:hover .dropdown-content {
  display: block;
}

.magic {
  position: relative;
  color: white;
  margin: 0 auto;
  padding-top: 25px;
}

.magic .magic__put {
  background-color: #638991;
}

.magic a.magic__contact {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
  animation: moveInBottom .5s ease-out 1.5s;
  animation-fill-mode: backwards;
}

.magic1 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font: Italic 48px/66px Fondamento;
  font-size: 52px;
  padding-top: 25px;
  position: relative;
  color: white;
  text-align: center;
  font-size: max( max(calc(16px), calc(2.5vw)), min( calc(2.5vw), calc(50px) ) );
  line-height: 1.5;
  text-align: center;
  font: Italic 28px/39px Fondamento;
  letter-spacing: 0px;
  color: #fafdfd;
  opacity: 1;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:27:39 AM
    Author     : Norm
*/
.header3 {
  background-color: rgba(99, 137, 145, 0.3);
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 1px;
  right: 0%;
  z-index: 10;
}

.header3 * {
  box-sizing: border-box;
}

.header3 .nav3 {
  display: flex;
  justify-content: center;
  position: relative;
}

.header3 .nav3 .nav3__wide {
  position: absolute;
  top: 25px;
  width: 100%;
  display: flex;
  justify-self: center;
  justify-content: flex-end;
}

@media screen and (max-width: 350px) {
  .header3 .nav3 .nav3__wide {
    justify-content: center;
  }
}

.header3 .nav3 .nav3__wide ul {
  padding-right: 3%;
}

@media screen and (max-width: 700px) {
  .header3 .nav3 .nav3__wide {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .header3 .nav3 .nav3__wide ul {
    padding-right: 10px;
  }
}

@media screen and (max-width: 350px) {
  .header3 .nav3 .nav3__wide ul {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.header3 .nav3 .nav3__wide a {
  text-decoration: none;
  color: inherit;
  width: 30%;
  text-align: left;
  font: Bold 14px/17px Inria Sans;
  font-family: "Inria Sans";
  letter-spacing: 0px;
  color: black;
  text-transform: uppercase;
  opacity: 1;
  padding-right: 12.5px;
}

.header3 .nav3 .nav3__narrow {
  background-color: rgba(246, 248, 249, 0);
  width: 70px;
  right: 5%;
  grid-area: menu-narrow;
  display: none;
  position: absolute;
  right: 0px;
  top: 25px;
}

@media screen and (max-width: 700px) {
  .header3 .nav3 .nav3__narrow {
    display: flex;
  }
}

.header3 .header .nav .nav__wide, .header .nav .header3 .nav__wide {
  z-index: 10;
}

.header3 .header .nav .nav__wide ul, .header .nav .header3 .nav__wide ul {
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  padding: 0;
  padding-top: 17px;
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background-color: rgba(246, 248, 249, 0);
  height: 50px;
  /*.dropdown-content a:hover {background-color: #f1f1f1}*/
}

.header3 .header .nav .nav__wide ul li a, .header .nav .header3 .nav__wide ul li a,
.header3 .header .nav .nav__wide ul .dropbtn,
.header .nav .header3 .nav__wide ul .dropbtn {
  display: inline-block;
  color: #0a0a09;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header3 .header .nav .nav__wide ul li a:hover, .header .nav .header3 .nav__wide ul li a:hover,
.header3 .header .nav .nav__wide ul .dropdown:hover .dropbtn,
.header .nav .header3 .nav__wide ul .dropdown:hover .dropbtn {
  text-decoration: underline;
}

.header3 .header .nav .nav__wide ul li.dropdown, .header .nav .header3 .nav__wide ul li.dropdown {
  display: inline-block;
}

.header3 .header .nav .nav__wide ul .dropdown-content, .header .nav .header3 .nav__wide ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.header3 .header .nav .nav__wide ul .dropdown-content a, .header .nav .header3 .nav__wide ul .dropdown-content a {
  color: #0a0a09;
  /*padding: 12px 16px;*/
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header3 .header .nav .nav__wide ul .dropdown-content a:hover, .header .nav .header3 .nav__wide ul .dropdown-content a:hover {
  background-color: white;
  /*text-decoration: underline;*/
}

.header3 .nav3 .nav3__narrow {
  z-index: 10;
  flex-direction: column;
}

.header3 .nav3 .nav3__narrow ul {
  height: 45px;
  display: block;
  padding: 0;
  margin: 0;
  color: #0a0a09;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  margin-bottom: 0;
  /*.dropdown-content a:hover {background-color: #f1f1f1}*/
}

.header3 .nav3 .nav3__narrow ul .hamburger {
  display: block;
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

.header3 .nav3 .nav3__narrow ul li a,
.header3 .nav3 .nav3__narrow ul .dropbtn {
  display: inline-block;
  color: #0a0a09;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

.header3 .nav3 .nav3__narrow ul li a:hover,
.header3 .nav3 .nav3__narrow ul .dropdown:hover .dropbtn {
  /*background-color: red;*/
  text-decoration: underline;
}

.header3 .nav3 .nav3__narrow ul li.dropdown {
  display: inline-block;
}

.header3 .nav3 .nav3__narrow ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-size: 16px;
}

.header3 .nav3 .nav3__narrow ul .dropdown-content a {
  color: #0a0a09;
  /*padding: 12px 16px;*/
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 10;
  font-size: 16px;
}

.header3 .nav3 .nav3__narrow ul .dropdown-content a:hover {
  background-color: pink;
  /*text-decoration: underline;*/
}

.header3 .nav3 .nav3__narrow ul .dropdown:hover .dropdown-content {
  display: block;
  right: 10%;
}

body {
  overflow-y: scroll;
}

.spacer30 {
  height: 30px;
}

.spacer20 {
  height: 20px;
}

.spacer10 {
  height: 10px;
}

@font-face {
  font-family: "WizardsMagic";
  src: url("../fonts/Wizards Magic.ttf");
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  /*word-spacing: -5px;*/
  /*letter-spacing: 20px;*/
  font-family: "Dancing Script", cursive;
  font-size: 64px;
  font-weight: bold;
  /*  font-family: 'Allura', cursive;
      font-family: 'Zeyada', cursive;*/
}

main img {
  height: 100vh;
  width: auto;
}

main .header1 {
  max-width: 1280px;
  width: 100%;
  height: 64px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

main .header1 .logo1 {
  max-width: 1280px;
  text-align: center;
  color: white;
  z-index: 5;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  position: relative;
  top: 33px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #638991;
  opacity: 1;
  width: 286px;
  height: 80px;
  background: #638991 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 8px #02000080;
  opacity: 1;
  padding-top: 3px;
}

@media screen and (max-width: 1000px) {
  main .header1 .logo1 {
    left: 10px;
  }
}

@media screen and (max-width: 500px) {
  main .header1 .logo1 {
    top: 20px;
  }
}

@media screen and (max-width: 350px) {
  main .header1 .logo1 {
    top: 10px;
  }
}

@media screen and (max-width: 1050px) {
  main .header1 .logo1 {
    width: 250px;
  }
}

main .header1 .logo1__title1 {
  font-family: "Major Mono Display", monospace;
  font-weight: 800;
  font-size: 77px;
  word-spacing: 10px;
  color: #fcf9f9;
  text-align: center;
  --s-font: 30px;
  --m-font: 5vw;
  --l-font: 47px;
  font-size: max( max(calc(var(--s-font)), calc(var(--m-font))), min( calc(var(--m-font)), calc(var(--l-font)) ) );
  letter-spacing: -0.5vw;
  color: #fcf9f9;
  width: 215px;
  font-size: 47px;
  text-align: center;
  letter-spacing: -4.7px;
  color: #fcf9f9;
  height: 47px;
  padding-top: 0;
}

main .header1 .logo1__sub-title1 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1vw;
  font: Regular 18px/22px Inria Sans;
  font-family: "inrai Sans";
  letter-spacing: 1.5vw;
  color: #fcf9f9;
  text-transform: uppercase;
  opacity: 1;
  text-align: left;
  font: Regular 10px/12px Inria Sans;
  font-family: "Inria Sans", sans-serif;
  letter-spacing: 10px;
  color: #fcf9f9;
  text-shadow: 0px 6px 8px #00000052;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: max( max(calc(12px), calc(1vw)), min( calc(1vw), calc(18px) ) );
  font-family: "Inria Sans", sans-serif;
  text-align: center;
  font-size: 10px;
  top: 5px;
}

@media screen and (max-width: 500px) {
  main .header1 .logo1__sub-title1 {
    letter-spacing: 6px;
    margin: 0 auto;
  }
}

main .php-output {
  color: red;
  font-family: Arial;
  font-size: 22px;
}

main .text .large-text {
  font-size: 62px;
}

main .text .under-construction {
  font-size: 16px;
}

main .small-text {
  font-size: 28px;
  letter-spacing: 2px;
  word-spacing: -10px;
  font-weight: bold;
}

main .contact-container {
  background-image: url("../images/contact-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 770px;
  opacity: 1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  text-align: left;
  padding-left: 25px;
}

@media screen and (max-width: 350px) {
  main .contact-container {
    padding-left: 0;
  }
}

main .contact-container .magic-block {
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  min-width: 250px;
  padding-left: 0;
}

@media screen and (max-width: 650px) {
  main .contact-container .magic-block {
    margin-left: 0;
    padding-left: 0;
  }
}

main .contact-container .copy-block {
  top: 108px;
  left: 0px;
  width: 100%;
  min-width: 150px;
  max-width: 421px;
  height: 250px;
  text-align: left;
  font: italic normal bold 32px/42px Merriweather;
  letter-spacing: 0px;
  color: #fcfeffbf;
  text-shadow: 0px 3px 6px #020000;
  text-shadow: 0px 3px 6px #020202;
  opacity: 1;
  margin-top: 100px;
}

@media screen and (max-width: 500px) {
  main .contact-container .copy-block {
    font-size: 25px;
  }
}

@media screen and (max-width: 550px) {
  main .contact-container .copy-block {
    left: 2vw;
  }
}

main .contact-container .form-container {
  opacity: 1;
  text-align: left;
  font-family: "Open Sans";
  font-size: 14px;
  width: 95%;
  min-width: 250px;
  margin-right: 25px;
  top: 100px;
}

@media screen and (max-width: 350px) {
  main .contact-container .form-container {
    width: 100%;
    margin-left: 0;
  }
}

main .contact-container .form-container .contactform {
  padding-top: 25px;
  font: normal normal bold 18px/22px Inria Sans;
  letter-spacing: 0px;
  color: #fcf7f7;
  text-transform: uppercase;
  opacity: 1;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 350px) {
  main .contact-container .form-container .contactform {
    width: 100%;
    margin-left: 0;
  }
}

main .contact-container .form-container .contactform .diagnostic {
  color: red;
  font-weight: bold;
  font-style: italic;
}

main .contact-container .form-container .contactform textarea {
  height: 190px;
  height: auto;
  /*width: 400px;*/
  width: 90%;
  min-width: 200px;
}

main .contact-container .form-container .contactform label {
  width: 99%;
  text-align: left;
  font-style: italic;
  display: block;
  margin-bottom: 4px;
  color: red;
  font-size: 22px;
}

main .contact-container .form-container .contactform input {
  width: 99%;
  border: 1px #ccc solid;
  background-color: #f5f5f5;
  padding: 5px;
  margin-bottom: 10px;
  color: #000000;
  width: 100%;
  height: 29px;
  min-width: 200px;
  max-width: 450px;
}

main .contact-container .form-container .contactform textarea {
  width: 99%;
  border: 1px #ccc solid;
  background-color: #f5f5f5;
  padding: 5px;
  resize: none;
  color: #000000;
  height: 163px;
  width: clamp(150px, 100vw, 450px);
  min-width: 150px;
  max-width: 100%;
  padding-right: 20px;
}

main .contact-container .form-container .contactform .submit {
  width: 50%;
  /*margin: 10px 0 20px 0;*/
  cursor: pointer;
  color: #444;
  font: 16px "Oswald", Verdana, Helvetica, sans-serif;
  font-weight: normal;
  padding: 2px 18px;
  text-decoration: none;
  background-color: #f8f8f8;
  background: linear-gradient(#f8f8f8, #d8d8d8);
  border: solid 1px #d8d8d8;
  border-radius: 5px;
  width: 119px;
  height: 35px;
  background-color: #638991;
  margin-top: 5px;
}

main .contact-container .form-container .contactform .submit:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7b88c5;
  background: linear-gradient(#7b88c5, #435299);
  border: solid 1px #435299;
  border-radius: 5px;
}
/*# sourceMappingURL=update.css.map */