/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
$menu-background-color: #e1c37d; //#C3B78E; // #C2B993; // #d4cd96;
$menu-background-color1: #e5d087; // #F6F8F9;
$menu-background-color2: #cbb87c; // #F6F8F9;
%menu-background {
    // background-image: linear-gradient(to right, $menu-background-color1, $menu-background-color2);
    opacity: 1;
}

@import "common";
@import "header3";

body {
    overflow-y: scroll;
    max-width: 3000px;
}

.spacer30 {
    height: 30px;
}
.spacer20 {
    height: 20px;
}
.spacer10 {
    height: 10px;
}

@font-face {
    font-family: "WizardsMagic";
    src: url("../fonts/Wizards Magic.ttf");
}

@mixin wizard-font {
    font-family: WizardsMagic;
    font-size: 16;
    font-weight: bold;
}
@mixin dancing-font {
    font-family: "Dancing Script", cursive;
    font-size: 64px;
    font-weight: bold;
}

@mixin min-mixin($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin min-max-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-mixin($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
$font-size: 16px;

.logo-a {
    // outline: 3px solid red;
    // text-align: center;
    // color: white;
    // grid-column: 2 / span 2;
    // grid-row: 2 / span 1;
    // position: relative;
    top: -20px;

    // display: flex;
    // flex-direction: column;
    // background-color: #638991;
    // // color: black;
    // opacity: 1;
    // width: 286px;
    // height: 80px;
    // background: #638991 0% 0% no-repeat padding-box;
    // box-shadow: 0px 6px 8px #02000080;
    // opacity: 1;
    // @include max-mixin(500px) {
    //     // left: 30px;
    //     width: 225px;
    // }
}

main {
    width: 100%;
    max-width: 3000px; //$max-page-width;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    /*word-spacing: -5px;*/
    /*letter-spacing: 20px;*/

    img {
        // height: 100vh;
        // width: 100vw;
        width: auto;
    }

    .header1 {
        // outline: 3px solid red;
        // max-width: 1280px;
        width: 100%;
        height: 64px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        @include max-mixin(460px) {
            margin-left: 10px;
        }

        .logo-a {
            // outline: 3px solid red;
            top: 32px;
            left: 0;
        }
    }

    .php-output {
        color: red;
        font-family: Arial;
        font-size: 22px;
    }

    .text {
        .large-text {
            font-size: 62px;
        }
        .under-construction {
            font-size: 16px;
        }
    }

    .small-text {
        font-size: 28px;
        letter-spacing: 2px;
        word-spacing: -10px;
        font-weight: bold;
    }
    @include dancing-font;
    /*  font-family: 'Allura', cursive;
      font-family: 'Zeyada', cursive;*/

    .contact-container {
        // border: 10px solid white;

        background-image: url("../images/contact-background.png");
        // background-image: url("../images/background.png");
        // box-shadow: 0px 15px 2px 0 white inset, -5px -5px 5px 0 white inset;
        box-shadow: 0px 2px 2px 0 white inset, 0px -1px 1px 0 white inset;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include max-mixin(600px) {
            // // background-position: left;
            // background-position-x: left;
            // background-position-y: bottom;
            // image-rendering: -webkit-optimize-contrast;
            // background-image: url("../images/contact-background-ocean.png");
            background-image: url("../images/waves.jpg");
        }
        // position: relative;
        padding-bottom: 20px;
        opacity: 1;
        min-width: 250px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: center;
        text-align: left;
        padding-left: 25px; // 15%;
        @include max-mixin(460px) {
            padding-left: 10px;
        }

        .magic-block5 {
            // border: 3px solid red;
            width: 25%;
            text-align: center;
            display: flex;
            justify-content: center;
            min-width: 250px;
            padding-left: 0;
            @include max-mixin(650px) {
                // padding-left: 5px;
                // width: 100%;
                margin-left: 0;
                padding-left: 0;
            }
        }

        .copy-block {
            // outline: 3px solid red;
            // position: relative;
            top: 0; //108px;
            left: 0px;
            width: 100%;
            min-width: 150px;
            max-width: 421px;
            height: 250px;
            text-align: left;
            font: italic normal bold 32px/42px Merriweather;
            letter-spacing: 0px;
            color: #fcfeffbf;
            // color: #cccecf;
            text-shadow: 0px 3px 6px #020000;
            text-shadow: 0px 3px 6px #020202;
            opacity: 1;
            @include max-mixin(460px) {
                width: 95%;
            }
            @include max-mixin(500px) {
                font-size: 25px;
            }
            // @include max-mixin(550px) {
            //     left: 2vw;
            // }

            margin-top: 20px;
            padding-top: 100px;
            margin-bottom: 100px;
            @include max-mixin(360px) {
                margin-bottom: 175px;
            }
            color: white;
        }

        .form-container {
            // border: 3px solid red;
            // background-color: #F4E1B7;
            opacity: 1;
            text-align: left;
            font-family: "Open Sans";
            font-size: 14px;
            width: 95%;
            min-width: 250px;
            // padding-left: 25px;
            // margin-right: 25px;
            // padding-top: 25px;

            // position: relative;
            top: 100px;
            @include max-mixin(350px) {
                // padding-left: 5px;
                width: 100%;
                margin-left: 0;
            }

            .contactform {
                // outline: 3px solid red;
                padding-top: 25px;
                // @include max-mixin(600px) {
                //     padding-top: 20px;
                //     padding-bottom: 20px;
                // }
                // border: 0px solid blue;
                font: normal normal bold 18px/22px Inria Sans;
                letter-spacing: 0px;
                color: #fcf7f7;
                text-shadow: 0px 6px 8px #000000a8;
                text-shadow: 0px 6px 8px #020202;
                text-transform: uppercase;
                opacity: 1;
                // padding-right: 20px;

                min-width: 250px;
                width: 100%;
                text-align: left;
                @include max-mixin(350px) {
                    // padding-left: 5px;
                    width: 95%;
                    margin-left: 0;
                }

                .diagnostic {
                    color: red;
                    font-weight: bold;
                    font-style: italic;
                }

                textarea {
                    height: 190px;
                    height: auto;
                    /*width: 400px;*/
                    width: 90%;
                    min-width: 200px;
                }
                label {
                    width: 99%;
                    text-align: left;
                    font-style: italic;
                    display: block;
                    margin-bottom: 4px;
                    color: #fcfeffbf;
                    // color: #cccecf;
                    color: white;
                    text-shadow: 0px 3px 6px #020000;
                    text-shadow: 0px 3px 6px #020202;
                }
                input {
                    width: 99%;
                    border: 1px #ccc solid;
                    background-color: #f5f5f5;
                    padding: 5px;
                    margin-bottom: 10px;
                    color: #000000;
                    width: 100%;
                    height: 29px;
                    min-width: 200px;
                    max-width: 450px;
                }
                textarea {
                    width: 99%;
                    border: 1px #ccc solid;
                    background-color: #f5f5f5;
                    padding: 5px;
                    resize: none;
                    color: #000000;
                    height: 163px;
                    // width: 606px;
                    width: clamp(150px, 100vw, 450px);
                    min-width: 150px;
                    max-width: 100%;
                    padding-right: 20px;
                }

                .submit {
                    width: 50%;
                    /*margin: 10px 0 20px 0;*/
                    cursor: pointer;
                    color: #444;
                    // color: red;
                    font: 16px "Oswald", Verdana, Helvetica, sans-serif;
                    font-weight: normal;
                    padding: 2px 18px;
                    text-decoration: none;
                    background-color: #f8f8f8;
                    background: linear-gradient(#f8f8f8, #d8d8d8);
                    border: solid 1px #d8d8d8;
                    border-radius: 5px;

                    width: 119px;
                    height: 35px;
                    background-color: #638991;
                    // margin-left: 50%;
                    // transform: translateX(-95%);
                    margin-top: 5px;
                }
                .submit:hover {
                    text-decoration: none;
                    color: #fff;
                    background-color: #7b88c5;
                    background: linear-gradient(#7b88c5, #435299);
                    border: solid 1px #435299;
                    border-radius: 5px;
                }
            }
        }
    }
}
