/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/

@import "common";
// $menu-background-color: #DBE3F6;
@import "headerIndex";


@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fondamento:ital@0;1&display=swap");
$menu-background-color: #f6f8f9;
$menu-background-color1: red; // #F6F8F9;
$menu-background-color2: blue; // #F6F8F9;
%menu-background {
    background-image: linear-gradient(to right, $menu-background-color1, $menu-background-color1);
}

.spacer30 {
    height: 30px;
}
.spacer20 {
    height: 20px;
}

.spacer10 {
    height: 10px;
}

@font-face {
    font-family: "WizardsMagic";
    src: url("../fonts/Wizards Magic.ttf");
}

@mixin wizard-font {
    font-family: WizardsMagic;
    font-size: 16;
    font-weight: bold;
}
@mixin dancing-font {
    font-family: "Dancing Script", cursive;
    font-size: 64px;
    font-weight: bold;
}

@mixin min-mixin($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin min-max-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-mixin($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
$font-size: 16px;

#ufo-block {
    z-index: 50;
    width: 1%;
    position: fixed;
    img {
        width: 100%;
        position: fixed;
    }
}

body {
    position: relative;
}


.header {
    .nav {
        // outline: 3px solid red;
        justify-self: flex-start;
        align-self: center;
        // margin-right: 25px;
        height: 17px;
        text-align: left;
        font: Bold 14px/17px Inria Sans;
        letter-spacing: 0px;
        color: #26454b;
        text-transform: uppercase;
        opacity: 1;
        // position: relative;
        // left: 50px;
        padding-right: 25px;
        display: flex;
        // justify-content: center;
        text-decoration: none;
        padding-bottom: 25px;

        .nav__wide {
            ul {
                display: flex;

                list-style-type: none;
                li {
                    padding-right: 10px;
                    a {
                        text-decoration: none;
                        justify-content: flex-end;
                    }
                    a:link {
                        color: #26454b;
                        color: white;
                        text-decoration: none;
                    }
                }
                li:first-child {
                    // outline: 3px solid red;
                    padding-right: 30px;
                    @include max-mixin(900px) {
                        padding-right: 10px;
                    }
                }
                li:last-child {
                    padding-right: 0px;
                }
            }
            @include max-mixin(900px) {
                display: none;
            }
        }

        .nav__narrow {
            // outline: 3px solid red;
            display: none;
            @include max-mixin(900px) {
                display: flex;
                //position: relative;
                top: -5px;
            }
            .menu-item {

                // outline: 3px solid red;
                @include max-mixin(900px) {
                    display: none;
                }
            }
            .hamburger {
                display: block;
                width: 35px;
                height: 4px;
                background-color: black;
                margin: 6px 0;
            }
            position: relative;
        }
    }

}


.header1 {
    // outline: 3px solid blue;
    max-width: 1280px;
    width: 100%;
    height: 64px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    .logo1 {
        z-index: 10;
    }

    @include max-mixin(900px) {
        width: 600px;
    }
    @include max-mixin(600px) {
        width: 100%;
    }
    .nav1 {
        display: none;
    }
    
    .nav {
        // outline: 3px solid red;
        justify-self: flex-start;
        align-self: center;
        // margin-right: 25px;
        height: 17px;
        text-align: left;
        font: Bold 14px/17px Inria Sans;
        letter-spacing: 0px;
        color: #26454b;
        text-transform: uppercase;
        opacity: 1;
        // position: relative;
        // left: 50px;
        padding-right: 25px;
        display: flex;
        // justify-content: center;
        text-decoration: none;

        .nav__wide {
            ul {
                display: flex;

                list-style-type: none;
                li {
                    padding-right: 10px;
                    a {
                        text-decoration: none;
                        justify-content: flex-end;
                    }
                    a:link {
                        color: #26454b;
                        color: white;
                        text-decoration: none;
                    }
                }
                li:first-child {
                    // outline: 3px solid red;
                    padding-right: 30px;
                    @include max-mixin(900px) {
                        padding-right: 10px;
                    }
                }
                li:last-child {
                    padding-right: 0px;
                }
            }
            @include max-mixin(900px) {
                display: none;
            }
        }

        .nav__narrow {
            // outline: 3px solid red;
            display: none;
            @include max-mixin(900px) {
                display: flex;
                //position: relative;
                top: -5px;
            }
            .menu-item {

                // outline: 3px solid red;
                @include max-mixin(900px) {
                    display: none;
                }
            }
            .hamburger {
                display: block;
                width: 35px;
                height: 4px;
                background-color: black;
                margin: 6px 0;
            }
            position: relative;
        }
    }

    .logo1 {
        // outline: 3px solid red;
        max-width: 1280px;
        text-align: center;
        color: white;
        // padding-right: 25px;
        z: 5;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;

        position: relative;
        top: 33px;
        left: 40px;
        @include max-mixin(1000px) {
            // top: 20px;
            left: 10px;
            top: 20px;
        }

        @include max-mixin(500px) {
            top: 20px;
        }
        @include max-mixin(350px) {
            top: 10px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #638991;
        // color: black;
        opacity: 1;
        width: 286px;
        @include max-mixin(1050px) {
            width: 250px;
        }
        height: 80px;
        background: #638991 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 8px #02000080;
        opacity: 1;
        padding-top: 3px;

        &__title1 {
            // outline: 3px solid blue;
            font-family: "Major Mono Display", monospace;
            font-weight: 800;
            font-size: 77px;
            word-spacing: 10px;
            color: #fcf9f9;

            text-align: center;
            --s-font: 30px;
            --m-font: 5vw;
            --l-font: 47px;
            // $fontsize1: #{"max( max(calc(30px), calc(5vw)), min( calc(5vw), calc(77px) ) )"};
            $fontsize1: #{"max( max(calc(var(--s-font)), calc(var(--m-font))), min( calc(var(--m-font)), calc(var(--l-font)) ) )"};
            font-size: $fontsize1;

            letter-spacing: -0.5vw;
            color: #fcf9f9;
            width: 215px;
            font-size: 47px;
            text-align: center;
            letter-spacing: -4.7px;
            color: #fcf9f9;
            height: 47px;
            padding-top: 0;
        }

        &__sub-title1 {
            // border: 3px solid green;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 1vw; //14px;

            font: Regular 18px/22px Inria Sans;
            font-family: "inrai Sans";
            letter-spacing: 1.5vw; //18px;
            color: #fcf9f9;
            text-transform: uppercase;
            opacity: 1;

            text-align: left;
            font: Regular 10px/12px Inria Sans;
            font-family: "Inria Sans", sans-serif;
            letter-spacing: 10px;
            color: #fcf9f9;
            text-shadow: 0px 6px 8px #00000052;
            text-transform: uppercase;
            opacity: 1;
            margin-top: 5px;
            margin-bottom: 8px;

            @include max-mixin(500px) {
                // font-size: 4vw;
                letter-spacing: 6px; //10px;
                margin: 0 auto;
                // padding-left: 30px;
            }
            $fontsize1: #{"max( max(calc(12px), calc(1vw)), min( calc(1vw), calc(18px) ) )"};
            font-size: $fontsize1;
            font-family: "Inria Sans", sans-serif;
            text-align: center;
            font-size: 10px;
            ////position: relative;
            top: 5px;
        }
    }
}

main {
    // border: 3px solid red;
    max-width: 1280px; //$max-page-width;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;

    .php-output {
        color: red;
        font-family: Arial;
        font-size: 22px;
    }

    .text {
        .large-text {
            font-size: 62px;
        }
        .under-construction {
            font-size: 16px;
        }
    }
    .small-text {
        font-size: 28px;
        letter-spacing: 2px;
        word-spacing: -10px;
        font-weight: bold;
    }
    @include dancing-font;

    position: relative;
    // top: 40px;

    max-width: $max-page-width;
    height: 100vh;
    img {
        height: 100vh;
        // width: 100vw;
        width: auto;
    }

    // display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;

    @include max-mixin(1230px) {
        grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    }
    @include max-mixin(500px) {
        grid-template-columns: 5px 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    }

    // .row1 {
    //     // outline: 3px solid red;
    //     grid-column: 1 / span 8;
    //     grid-row: 1 / span 1;
    //     height: 15px;
    // }

    .content {
        // outline: 3px solid red;
        max-width: 1280px;
        min-width: 280px;
        // position: relative;
        // top: -25px;
        z-index: -1;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include max-mixin(900px) {
            display: flex;
            flex-direction: column;
            max-width: 600px;
        }
        row-gap: 4px;
        column-gap: 4px;

        .client {
            width: 100%;
            max-height: 334px;
            position: relative;
            @include max-mixin(900px) {
                margin-bottom: 4px;
                img {
                    min-width: 100px;
                }
                min-width: 200px;
            }

            .copy {
                // outline: 3px solid red;
                text-align: left;
                font: Italic 54px/67px Libre Baskerville;
                letter-spacing: 0px;
                color: red; //#FCF9F9;
                opacity: 1;

                text-align: left;
                // font: Italic 54px/67px Libre Baskerville;
                font-family: "Libre Baskerville", serif;
                line-height: normal;
                font-style: italic;
                font-size: 24px;
                font-size: clamp(18px, 2vw, 22px);
                letter-spacing: 0px;
                color: #fcf9f9;
                opacity: 1;
                z-index: 5;
                .author {
                    text-align: left;
                    font: Bold Italic 16px/22px Inria Sans;
                    font-size: clamp(14px, 1vw, 16px);
                    letter-spacing: 0px;
                    color: #fcf9f9;
                    text-shadow: 0px 3px 6px #000000;
                    opacity: 1;
                    // margin-top: 24px;
                }
                &:hover {
                    cursor: pointer;
                    // transform: scale(1.2);
                }
            }
            &:hover {
                cursor: pointer;
                // transform: scale(1.2);
                color: red;
            }
        }

        .hello:hover {
            cursor: pointer;
            transform: scale(20%);
            color: red;
        }

        .client-copy {
            // outline: 3px solid red;
            display: none;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font: Italic 54px/67px Libre Baskerville;
            letter-spacing: 0px;
            color: red; //#FCF9F9;
            opacity: 1;

            text-align: left;
            // font: Italic 54px/67px Libre Baskerville;
            font-family: "Libre Baskerville", serif;
            line-height: normal;
            font-style: italic;
            font-size: 24px;
            font-size: clamp(18px, 2vw, 22px);
            letter-spacing: 0px;
            color: black; //#fcf9f9;
            opacity: 1;
            z-index: 5;
            .author {
                text-align: left;
                font: Bold Italic 16px/22px Inria Sans;
                font-size: clamp(14px, 1vw, 16px);
                letter-spacing: 0px;
                color: black; // #fcf9f9;
                // text-shadow: 0px 3px 6px #000000;
                opacity: 1;
                // margin-top: 24px;
            }
            &:hover {
                cursor: pointer;
                // transform: scale(1.2);
            }
            @include max-mixin(450px) {
                display: block;
            }
            margin-bottom: 20px;
        }

        #client1 {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            //position: relative;
            .copy {
                position: absolute;
                top: 35px;
                left: 65%;
                .author {
                    margin-top: 25px;
                }
                @include max-mixin(450px) {
                    display: none;
                }
            }
        }
        #client2 {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            @include max-mixin(850px) {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
            }
            .copy {
                position: absolute;
                top: 40px;
                right: 15px;
                .author {
                    position: relative;
                    left: 60px;
                    margin-top: 24px;
                }
                @include max-mixin(450px) {
                    display: none;
                }
            }
        }
        #client3 {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            @include max-mixin(850px) {
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;
            }
            .copy {
                position: absolute;
                @include max-mixin(450px) {
                    // position: relative;
                }
                top: 156px;
                left: 19px;
                @include max-mixin(560px) {
                    top: 80px;
                }
                .author {
                    margin-top: 19px;
                }
                @include max-mixin(450px) {
                    display: none;
                }
            }
        }
        #client4 {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            @include max-mixin(850px) {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
            }
            img {
                @include max-mixin(450px) {
                    object-fit: fill;
                }
            }
            .copy {
                position: absolute;
                left: 28px;
                top: 38px;
                .author {
                    margin-top: 24px;
                }
                @include max-mixin(450px) {
                    display: none;
                }
            }
            #image1 {
                display: block;
                @include max-mixin(450px) {
                    display: none;
                }
            }
            #image2 {
                display: none;
                @include max-mixin(450px) {
                    display: block;
                }
            }
        }
        #client1,
        #client2,
        #client3,
        #client4 {
            img {
                // outline: 3px solid red;
                // min-width: 200px;
                // // width: 300px;
                // // height: 300px;
                // width: 639px;
                // height: 336px;
                max-width: 100%;
                min-width: 280px;
                min-width: 200px;
                height: 100%;
                object-fit: cover;
                position: relative;
                top: 0;
                z-index: 2;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            &:hover {
                cursor: pointer;
            }
        }
        &:hover {
            cursor: pointer;
        }
        margin-bottom: 6px;
    }

    .magic1 {
        // border: 3px solid red;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        font: Italic 48px/66px Fondamento;
        font-size: 52px;
        // padding-top: 50vh;

        position: relative;
        // top: -21px;
        color: white;
        background-color: #638991;
        text-align: center;
        // font-size: #{"clamp(16px, 2.5vw, 50px)"};
        $fontsize1: #{"max( max(calc(16px), calc(2.5vw)), min( calc(2.5vw), calc(50px) ) )"};
        font-size: $fontsize1;
        line-height: 1.5;

        text-align: center;
        font: Italic 28px/39px Fondamento;
        letter-spacing: 0px;
        color: #fafdfd;
        opacity: 1;
        &:hover {
            cursor: pointer;
            background-color: pink;
            transform: scale(1.5);
        }
    }

    .box2 {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        align-self: flex-start;
        justify-self: center;
        // padding-right: 15%;
        text-align: center;
        color: #93999a;
        width: 80%;
    }

    .box3 {
        // border: 3px solid red;
        // background-color: black;
        grid-column: 2 / span 2;
        grid-row: 4 / span 1;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        font-weight: normal;
        justify-self: right;
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        @include max-mixin(400px) {
            grid-column: 1 / span 3;
        }

        .smaller {
            font-size: 24px;
        }
    }
}
img {
    width: 50px;
}
